:root {
  --m-ff: #ff0099;
  --m-ee: #ee0088;
  --m-dd: #dd0077;
  --m-cc: #cc0066;
  --m-bb: #bb0055;
  --m-aa: #aa0044;
  --m-99: #990033;
  --m-88: #880022;
  --m-77: #770011;
  --m-66: #660015;
  --m-55: #550026;
  --m-44: #440011;
  --m-33: #330011;
  --m-22: #220011;
  --m-11: #110011;
}
