@import "./fonts/fonts.css";

:root {
  --ptm-font-sans: "Noto Sans Myanmar", "Poppins", sans-serif;
  --ptm-font-mono: "Ubuntu Mono", monospace;
  --ptm-font-tabler: "tabler-icons" !important;
  --transition: all 0.3s ease;
}

:root {
  --ptm-color-bg: #ffffff;
  --ptm-color-bg-2: #f9f9f9;
  --ptm-color-text: #444444;
  --ptm-color-text-2: #666666;
  --ptm-color-border: #cccccc;
  --ptm-color-anchor-hover: #ce3500;
  --ptm-color-anchor: #0050ef;
  --ptm-color-green: #008a00;
}
.dark,
*[data-theme="dark"] {
  --ptm-color-bg: #0d0d0d;
  --ptm-color-bg-2: #1a1a1a;
  --ptm-color-text: #d9d9d9;
  --ptm-color-text-2: #cccccc;
  --ptm-color-border: #1a1a1a;
  --ptm-color-anchor-hover: #ff9800;
  --ptm-color-anchor: #278de0;
  --ptm-color-green: #4caf50;
}
.dark,
*[data-theme="dark"] {
  color-scheme: "dark";
}
/* ======================================= */
* {
  margin: 0;
  padding: 0;
}
html {
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: var(--ptm-font-sans);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--ptm-color-bg);
  color: var(--ptm-color-text);
}
/* Header Nav */
header {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--ptm-color-bg-2);
  top: 0;
  z-index: 100;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
header nav a.logo {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  color: var(--ptm-color-text-2);
  text-decoration: none;
  font-size: 27px;
  background: transparent;
}
header a.logo:hover {
  color: var(--ptm-color-anchor-hover);
}
header nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header nav div a {
  text-decoration: none;
  font-family: "Concert One", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  color: var(--ptm-color-text-2);
  position: relative;
}
header nav div a:not(:first-child) {
  margin-left: 18px;
}
header nav div a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: var(--ptm-color-anchor-hover);
  transition: var(--transition);
}
header nav div a:hover::after {
  width: 100%;
}
/* Header Nav End */
/* Main */
main {
  max-width: 1200px;
  margin: 27px auto;
  padding: 0 20px;
}
/* Heading */
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 17px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 10px 0;
}
/* Anchor */
a {
  color: var(--ptm-color-anchor);
  font-size: inherit;
  font-weight: inherit;
}
/* apply hover to all anchors, but keep header links' hover unchanged */
a:hover {
  color: var(--ptm-color-anchor-hover);
}
header a:hover {
  color: var(--ptm-color-text-2);
}
a[href^="#"] {
  text-decoration: none;
}
/* Scopes */
@scope (.topBtn) {
  :scope {
    all: unset;
    font-size: 1.5rem;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transform: scale(1.8);
    opacity: 0;
    transition: 0.3s;
    background-color: inherit !important;
  }
  :scope:before {
    font-family: var(--ptm-font-tabler);
    line-height: 1;
    content: "\f63c";
  }
  :scope:hover {
    color: var(--ptm-color-anchor-hover);
    cursor: pointer;
  }
}

/* @media */
@media screen and (max-width: 640px) {
  header nav {
    flex-direction: column;
    justify-content: center;
  }
}
